{% extends 'layout/../layout/base.html' %}

{% block content %}
    <style>
        .create {
            margin-left: auto;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-5">
                <form method="POST" class="need-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" name="age">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="club" class="form-label">Club</label>
                        <select class="form-select mb-3" name="club" id="club">
                            <option selected disabled>Club</option>
                            {% for club in clubs %}
                                <option value="{{ club.id }}">{{ club.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select mb-3" name="country" id="country">
                            <option selected disabled>Country</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <label class="form-label">Position</label>
                    <div class="d-flex mb-3 flex-wrap" id="positionContainer">
                        {% for position in positions %}
                            <div class="form-check me-2">
                                <input class="form-check-input" type="checkbox" value="{{ position.id }}"
                                       name="positions" id="positions">
                                <label class="form-check-label" for="position">
                                    {{ position.name }}
                                </label>
                            </div>
                        {% endfor %}
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 float-end">Create</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        (function () {
                var form = document.querySelector(".need-validation")
                var nameInput = document.getElementById("name")
                var ageInput = document.getElementById("age")
                var countrySelect = document.getElementById("country")
                var clubSelect = document.getElementById("club")
                var positionContainer = document.getElementById("positionContainer")
                var positionList = document.querySelectorAll("#positions")

                form.addEventListener("submit", evt => {
                    evt.preventDefault()
                    evt.stopPropagation()

                    const validName = validateName(nameInput)
                    const validAge = validateAge(ageInput)
                    const validCountry = validateSelect(countrySelect, "Country")
                    const validClub = validateSelect(clubSelect, "Club")
                    const validPosition = validatePosition(positionContainer.children[12])

                    if (validName && validAge && validCountry && validClub && validPosition) {
                        form.submit()
                    }
                })

                const validateName = (input) => {
                    if (input.value == "") {
                        showError(input, 'Name is required')
                    } else if (!input.value.match(/^[a-zA-Z\s]+$/)) {
                        showError(input, 'Name cannot contain special character')
                    } else if (input.value.length < 3) {
                        showError(input, 'Name should be at least 3 characters long')
                    } else {
                        showSuccess(input)
                        return true
                    }
                }

                const validateAge = (input) => {
                    if (input.value == "") {
                        showError(input, 'Age is required')
                    } else if (input.value < 0) {
                        showError(input, 'Age cannot be lower than 0')
                    } else {
                        showSuccess(input)
                        return true
                    }
                }
                const validateSelect = (input, baseType) => {
                    if (input.value == baseType) {
                        showError(input, 'Continent is required')
                    } else {
                        showSuccess(input)
                        return true
                    }
                }

                const validatePosition = (input) => {
                    var positionIds = []
                    positionList.forEach(position => {
                        if (position.checked == true) {
                            positionIds.push(position.checked)
                        }
                    })
                    if (positionIds.length == 0) {
                        input.classList.remove("d-none")
                        input.classList.add("d-block")
                        input.innerHTML = 'Player should have at least 1 position'
                    } else {
                        input.classList.remove("d-block")
                        input.classList.add("d-none")
                        input.innerHTML = ""
                        return true
                    }
                }

                const showError = (input, message) => {
                    input.classList.remove("is-valid")
                    input.classList.add("is-invalid")
                    input.nextSibling.nextSibling.innerHTML = message
                }

                const showSuccess = (input) => {
                    input.classList.remove("is-invalid")
                    input.classList.add("is-valid")
                }

            }
        )()
    </script>
{% endblock content %}