{% extends 'layout/base.html' %}

{% block content %}
<style>
    .create {
        margin-left: auto;
    }
</style>
<div class="container">
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6">
            <h3 class="mb-3">All {{search}} in the world</h3>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">{{search}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in datas %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="/{{search|lower}}/{{item.id}}">{{item.name}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}