{% extends 'base.html' %}

{% block content %}
<style>
    .create {
        margin-left: auto;
    }
</style>
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h3>All {{search}} in the world</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">{{search}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in datas %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td><a href="/football/{{search}}/{{item.id}}">{{item}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}