{% extends 'layout/../layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <h3>Clubs in {{country.name}}</h3>
            <table class="table table-bordered">
                <tbody>
                    {% if clubs %}
                    {% for club in clubs %}
                    <tr>
                        <td><a href="{% url 'club_by_Id' club.id %}">{{club.name}}</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h3>Players of {{country.name}}</h3>
            <table class="table table-bordered">
                <tbody>
                    {% if players %}
                    {% for player in players %}
                    <tr>
                        <td><a href="{{player.get_player_by_Id}}">{{player.name}}</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}