{% extends 'layout/base.html' %}

{% block content %}
<style>
    .create {
        margin-left: auto;
    }
</style>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-5">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="club" class="form-label">Name</label>
                    <input type="text" class="form-control" id="club" name="name">
                </div>
                <label for="continent" class="form-label">Continent</label>
                <select class="form-select mb-3" name="continent" id="continent">
                    <option selected disabled>Continent</option>
                    {% for continent in continents %}
                    <option value="{{continent.id}}">{{continent}}</option>
                    {% endfor %}
                </select>
                <label for="country" class="form-label">Country</label>
                <select class="form-select" name="country" id="country">
                    <option selected disabled>Country</option>
                    {% for country in countries %}
                    <option value="{{country.id}}">{{country}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary mt-3 float-end">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}