{% extends 'layout/../layout/base.html' %}
{% load static %}

{% block content %}
    <style>
        .create {
            margin-left: auto;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-5">
                <form method="POST" class="need-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="position" class="form-label">Position</label>
                        <input type="text" class="form-control" id="position" name="position"
                               value="{{ position.name }}">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mt-3 float-end">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{% url 'football_by_category' 'Position' %}" class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static "scripts/positionValidation.js" %}"></script>
{% endblock content %}