{% extends 'layout/../layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <h3>Countries in {{continent.name}}</h3>
            <table class="table table-bordered">
                <tbody>
                    {% if countries %}
                    {% for country in countries %}
                    <tr>
                        <td><a href="{% url 'country_by_Id' country.id %}">{{country.name}}</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h3>Clubs in {{continent.name}}</h3>
            <table class="table table-bordered">
                <tbody>
                    {% if clubs %}
                    {% for club in clubs %}
                    <tr>
                        <td><a href="{{club.get_club_by_Id}}">{{club.name}}</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}