{% extends 'layout/../layout/base.html' %}
{% load static %}

{% block content %}
    <style>
        .create {
            margin-left: auto;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-5">
                <form method="POST" class="need-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="club" class="form-label">Name</label>
                        <input type="text" class="form-control" id="club" name="name">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="continent" class="form-label">Continent</label>
                        <select class="form-select mb-3" name="continent" id="continent">
                            <option selected disabled>Continent</option>
                            {% for continent in continents %}
                                <option value="{{ continent.id }}">{{ continent }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" name="country" id="country">
                            <option selected disabled>Country</option>
                            {% for country in countries %}
                                <option value="{{ country.id }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mt-3 float-end">
                        <button type="submit" class="btn btn-success">Create</button>
                        <a href="{% url 'football_by_category' 'Club' %}"
                           class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/clubValidation.js' %}"></script>
{% endblock content %}